body{
    min-width:1024px;
    min-height:1rem;
    margin:0;
    background-color:rgb(248,248,248);
    font-size:110%;
}

a:link{
    text-decoration:none;
}

a:visited{
    text-decoration:none;
}

header{
    position:fixed;     /* 헤더 상단 고정 */
    display:grid;
    grid-template-rows:1fr 1fr;
    min-width:1024px;
    width:100%;
    height:5.5em;
    background-color:white;
    z-index:10;         /* 헤더 z-index 맨 앞 */
}

header .subscribe-container{
    display:flex;
    top:0px;
    width:auto;
    flex-direction:column;
    height:15em;
    background-color:white;
    padding:0px 4% 0px 4%;
    font-size:13px;
}

.subscribe-content{
    display:flex;
    width:100%;
    justify-content:spcae-between;
}

header .subscribe-content div{
    width:50%;
}

header .menu-container{
    display:flex;
    flex-direction:row;
    width:100%;
    height:5.5em;
    justify-content:space-between;
    background-color:white;
    align-items:center;
}

#sub-textarea{
    width:168px;
    height:35px;
    background-color:#F2F2F2;
    border:none;
    border-radius:5px;
    padding:0px 10px 0px 10px;
    font-size:15px;
    outline:none;           /* focus시 outline 제거 */
    resize:none;            /* 크기조절 변경불가 */
}

#sub-textarea:focus{
    border:1px solid #E2E2E2;
}

.menu-container #main_menu{
    display:flex;
    align-content:flex-start;
}

.menu-container div{
    width:50%;
}

.menu-container li{
    list-style : none;  /* list 동글뱅이 없애기 */
    padding-right:2em;
}

.submit-container{
    display:flex;
    justify-content:space-between;
    width:100%;
    padding-bottom:2em;
    border-bottom:1px solid #F2F2F2;
}

.submit-container .submit-textarea{
    display:flex;
    justify-content:flex-start;
    flex-direction:row;
    width:auto;
}

.submit-textarea div{
    margin-right:1em;
}

#submit-button{
    position:relative;
    float:right;
    background-color:#222222;
    width:100px;
    height:35px;
    color:#B7B8BB;
    outline:none;
    border-radius:5px;    
}

#submit-button p{
    font-size:15px;
    position:absolute;
    top:0%;
    left:50%;
    transform: translate(-50%, -40%);
}

#submit-button:hover{
    background-color:#B7B8BB;
    color:#222222;
}

header a:hover{
    color:black;
}

header a{
    color:rgb(187,187,187);
}

#logo{
    width:50%;
    min-width:400px;
    padding-left:3em;
}

#menu{
    display:flex;
    padding-top:1em;
    align-items:center;
}

#main_menu{
    margin-right:15em;
}

#subscribe_menu{
    text-decoration:underline;
    margin-right:5em;
}

.main{
    margin:0px 4% 0px 4%;
}

.content{
    display:grid;
    padding-top:7em;
    z-index:0;
}

.content img{
    width:100%;
}

.tweet{
    display:flex;
    height:7em;
    justify-content:space-between;
    margin-top:4%;
}

.tweet div{
    width:50%;
}

.footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:5em;
    font-size:105%;
}

.left_footer{
    display:flex;
    height:4em;
    width:60%;
    justify-content:space-between;
    align-items:center;
    color:rgb(34,34,34);
    font-size:90%;
}

.sns_button img{
    filter:contrast(0%);
}

.sns_button img:hover{
    filter:contrast(300%);
}
